.cross-button {
	@include reset-button;
	@include square(50px);

	position:relative;
	border-radius: var(--border-radius-small);



	&::before,
	&::after{
		content: '';
		position: absolute;
		top: 50%;
		left: 14px;
		width: 50%;
		height: 1px;
		background-color: var(--color-accent);
		border-radius: 5px;
	}

	&::before{
		rotate: 45deg;
	}

	&::after{
		rotate: -45deg;
	}
}