.faq{


	&__quenstions{
	
		@include mobile{
			grid-area: 2/1/span 1/span 2;
		}
	}

	&__item{
	
		padding:24px 50px 24px 60px;
		border: 2px solid var(--color-accent);
		border-radius: var(--border-radius-small);
		margin-bottom: 20px;
		cursor: pointer;

		@include mobile{
			padding: 24px;
		}

		&-question{
			display: flex;
			justify-content: space-between;
			align-items: center;

			h4{
				margin: 0;
				font-family: 'Involve',sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 26px;

				@include tablet{
					font-size: 22px;
				}
			}
		}

		&-answer{
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s ease-out;

			p{
				font-family: "Lato",sans-serif;
				font-weight: 300;
				font-size: 20px;
				padding-top: var(--container-padding-x);
			}
		}

		&.active &-answer{
			max-height: 300px;
			transition: max-height 1.8s ease-out;
		}

		@include hover{
			box-shadow: 2px 4px 7.2px rgb(136, 13, 30, .3);
			transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
		}
	}


	&__drop-down-button.hover{
		background-color: var(--color-accent);
	}
}