.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	&__logo-b{
	width: 100%;

	@include tablet {
		max-width: 96%;
	margin-top: -40px;
	}
	
	@include mobile {
		max-width: 96%;
	margin-top: -20px;
	}
	}
}
.section{
	padding-bottom: var(--section-padding-y);

	&__title{
		padding-bottom: 40px;
		
		@include mobile{
			padding-top: 30px;
		}
	}
	&__body{
		padding-top: 40px;

		@include mobile{
			padding-top: 30px;
		}
	}

	&__nav{
		display: flex;
		justify-content: space-between;

		&-button{
			fill: var(--color-accent);
		}
	}
}