:root{
	--color-light: #F2F1ED;
	--color-accent: #880D1E; 

	--border-radius-small: 10px;
	--border-radius-large:60px;

	--font-family-name: 'Lobster', sans-serif;
	--font-family-base: 'Involve', sans-serif;
	--font-family-accent: 'Zing Script', sans-serif;
	--font-family-lato: 'Lato', sans-serif;
	--font-family-lato-b: 'Lato-Bold', sans-serif;

	--container-width: 1250px;
	--container-padding-x: 20px;
	
	--section-padding-y: 100px;

	--input-height: 57px;
	--button-height: 57px;
	--button-height-small: 42px;

	--transition-duration: 0.2s;

}